@font-face {
  font-family: 'dj_grossnormal';
  src: url('fonts/DJGROSS-webfont.eot');
  src: url('fonts/DJGROSS-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/DJGROSS-webfont.woff') format('woff'),
       url('fonts/DJGROSS-webfont.woff2') format('woff2'),
       url('fonts/DJGROSS-webfont.ttf') format('truetype'),
       url('fonts/DJGROSS-webfont.svg#dj_grossnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
  background-color: lightgray;
  background-image: url('images/zombie_background.jpg');
  background-size: 100% 100%;
  font-family: monospace; 
}

section
{
  margin-top: 1em;
  margin-left: 1em;
  padding: 0.5em;
}

header
{
  background-color: rgba(128, 128, 128, 0.7);
  width: 55%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

header img.left
{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height:50px;
  vertical-align: middle;
}

header img.right
{
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  height:50px;
  vertical-align: middle;
}

h3{
  font-size: 2em;
  margin-top: 0.5em;
}

h4{
  font-size: 1.6em;
  margin-top: 0.5em;
}

label{
  font-size: 1.5em;
  font-family: monospace;
  margin-bottom: 1em;
}

select{
  font-family: monospace;
  background-color: rgba(200, 200, 200, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
}

option{
  font-family: monospace;
  background-color: rgba(200, 200, 200, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;  
}


#title{
  font-family: dj_grossnormal;
  font-size: 2.5em;
  display: inline-block;
  vertical-align: middle;
  
}

#Input{
  background-color: rgba(128, 128, 128, 0.7);
  display: table;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}

#Output{
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}


.initial{
  background-image: url(images/button_white.png);
  border-radius: 100;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  height: 6em;
  width: 6em;
  background-size: contain;
  border: 0;
  display: block;
}

.initial:hover{
  background-image: url(images/button_pink.png);
  opacity: 1;
}

.continue:hover{
  background-image: url(images/button_pink.png);
  opacity: 1;
}

.continue{
  background-image: url(images/button_white.png);
  border-radius: 100;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  height: 6em;
  width: 6em;
  background-size: contain;
  border: 0;
  display: block;
}

strong{
  color: yellow;
}

footer{
  color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  position: fixed;
  padding: 0.5em;
  text-align: center;
  left: 0;
  right: 0;
}


